html {
  border-top: 3px green;
}
body {
  border-radius: 2px;
}
ul {
  outline: 2px green;
  padding: 10px;
}
contact {
  color: yellow;
  text-align: right;
}
table {
  outline: 2px dotted;

}
td {
  background-color: blue;
}
td:hover {
  background-color: yellow;
}
