/**{
  outline: 1px black solid;*/
}
html {
  border-top: 3px green;
}
h1 {
  font-family: 'Yatra One', cursive;
  font-size: 30px;
  color: white;
  padding-bottom: 50px;
  padding-right: 40px;
}
.navbar{
  position: relative;
  display: inline-block;
  margin: 2px 2px 2px 2px;
}
li.left {
  width: 100px;
  padding: 0px;
  margin:  0px;
  background-color: #E9967A;
}
.contact{
  float: right;
  position: relative;
  margin-left: auto;
  background-color: #E9967A;
}
section{
  display: inline-block;
  padding-left: 460px;
  }
.cutter{
  display: inline-block;
}
h3{
  font-size: 2.5em;
  text-align: center;
  font-family: 'Yatra One', cursive;
}
body {
  border-radius: 2px;
}
.salmon-background {
  background-image: url("Salmon.png");
  background-repeat: no-repeat;
}
a
form{
  width: 50%;
  margin: 1% auto;
}
label {
  display: inline-block;
  width: 40%;
  text-align: right;
  margin: 5px 0;
}
table {
  outline: 20px #565570;
  font-family: Verdana;
}
th {
  color: #0000FF;
}
td {
  background-color: #7FFFD4;
  text-align: center;
  padding: 22px;
}
td:hover {
  background-color: yellow;
}
footer {
  display: inline-table;
  margin-left: 50%;
}
